.header {
  font-size: 18px;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  position: relative;
  z-index: 1;
}




.header__logo {
  position: relative;
}

.header__logo::after {
  display: block;
  content: "";
  position: absolute;
  width: 438px;
  height: 438px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #00e0ff;
  opacity: 0.15;
  filter: blur(247px);
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__phone-link {
  color: #fff;
}

@media (max-width:600px) {
  .header-inner {
    flex-direction: column;
    gap: 10px;
  }
}