.article {
  padding-top: 80px;
  padding-bottom: 120px;
}

.article__subtitle {
  font-size: 36px;
}

.article__text {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}

.article__text:last-child {
  margin-bottom: 0;
}

.article__title_mb-large {
  margin-bottom: 80px;
}

.article__text_mb-large {
  margin-bottom: 80px;
}

.article__list_mb-large {
  margin-bottom: 80px;
}

.article__decor_mb-large {
  margin-bottom: 80px;
}

.article__decor_mb-medium {
  margin-bottom: 40px;
}

.article__decor {
  position: relative;
}

.article__decor::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: url("../images/decor-icon.svg") no-repeat;
  width: 528px;
  height: 48px;
}

.article__decor_left::before {
  top: 100px;
  left: -350px;
}

.article__decor_right::before {
  right: -350px;
  bottom: 136px;
}

.article__image {
  display: block;
}

.article__list {
  margin-top: 0;
  padding-left: 16px;
}

.article__item:not(:last-child) {
  margin-bottom: 12px;
}

.article__item::marker {
  font-size: 22px;
  color: #3596ed;
}

.article__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 0;
  background-color: #3596ed;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s;
}

.article__play:hover {
  background-color: #38a2ff;
}

.article__play:not(:disabled):active {
  background-color: #2d82cd;
}
