.hero {
    position: relative;
    padding-top: 80px;
}

.hero::after {
    position: absolute;
    z-index: -1;
    content: "";
    background: url("../images/decor-larde-icon.svg") repeat-x;
    bottom: 106px;
    width: 100%;
    height: 48px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 28px;
}


.hero h1 {
    font-family: Oswald, sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.hero h1 strong {
    color: #3596ed;
    font-weight: 600;
}

.hero-info,
.text {
    margin-bottom: 140px;
    max-width: 440px;
}

.hero-images {
    position: relative;
    display: flex;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #535755;
    padding: 22px;
    max-width: 161px;
    background: rgb(255, 255, 255 / 0.9);
    text-align: center;
}

.news-container{
    display: flex;
    gap: 28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #d3cbd9;
}

.news-article img {
    display: block;
}

.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}


.news-link::after{
    display: inline-block;
    content: "";
    width: 22px;
    height: 9px;
    position: absolute;
    background-image: url("../images/arrow-right-icon.svg");
    transition:  transform 0.2s;
}

.news-link:hover::after {
    transform: translateX(5px);
}